### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.gradle/
/.gradle-home/
/build/
/logs/
/run/
/run-data/
/.gitignore
.gitignore
/src/generated/resources/.cache/
.vscode
HBM-NTM-high-edition.code-workspace
/gradle.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradle/
# ===== AI Agent导向 =====
AGENTS.md
# ===== 通用 OS 垃圾文件 =====
.DS_Store
Thumbs.db
# ===== IntelliJ IDEA / Gradle =====
/.idea/
/processor/build/
/out/
# ===== Java 产物 =====
*.log
*.tmp
tools/manim_latest_commit.py
.venv-manim
bin
media
tools/manim_datagen_overview.py
Ballistix/
Hbm-s-Nuclear-Tech-GIT/
.ref/*
tools/manim_dolby_atmos_intro.py
__pycache__/
*.pyc
# ===== 临时文件 =======
src/main/temp/
.gitnexus
/GT6Extend.md
/datagen.log
.claude
