### Example user template template
### Example user template
# gitignore我草拟大坝
# IntelliJ project files
.idea
*.iml
out
gen
.idea/
.DS_Store
/.gradle/
/build/
/logs/
/run/
/run-data/
/.gitignore
.gitignore
/src/generated/resources/.cache/
.vscode!/gradle.properties
