# AT仅限修改原版MC代码访问权限，forge代码的访问权限无法修改
public net.minecraft.client.particle.ParticleEngine m_107395_(Lnet/minecraft/core/particles/ParticleOptions;DDDDDD)Lnet/minecraft/client/particle/Particle; # makeParticle
public-f net.minecraft.world.level.chunk.ChunkAccess f_187611_ # levelHeightAccessor
public net.minecraft.world.level.block.entity.BaseContainerBlockEntity itemHandler
public-f net.minecraft.client.gui.components.ImageButton f_94225_ # yTexStart
public-f net.minecraft.client.gui.components.ImageButton f_94226_ # yDiffTex
public net.minecraft.client.resources.sounds.SimpleSoundInstance <init>(Lnet/minecraft/sounds/SoundEvent;Lnet/minecraft/sounds/SoundSource;FFLnet/minecraft/util/RandomSource;ZILnet/minecraft/client/resources/sounds/SoundInstance$Attenuation;DDD)V # SimpleSoundInstance
public net.minecraft.server.level.ChunkMap m_140416_()Ljava/lang/Iterable; # getChunks