# AT仅限修改原版MC代码访问权限，forge代码的访问权限无法修改
public net.minecraft.client.particle.ParticleEngine m_107395_(Lnet/minecraft/core/particles/ParticleOptions;DDDDDD)Lnet/minecraft/client/particle/Particle; # makeParticle
public-f net.minecraft.world.level.chunk.ChunkAccess f_187611_ # levelHeightAccessor
public net.minecraft.world.level.block.entity.BaseContainerBlockEntity itemHandler
public-f net.minecraft.client.gui.components.ImageButton f_94225_ # yTexStart
public-f net.minecraft.client.gui.components.ImageButton f_94226_ # yDiffTex
public net.minecraft.client.resources.sounds.SimpleSoundInstance <init>(Lnet/minecraft/sounds/SoundEvent;Lnet/minecraft/sounds/SoundSource;FFLnet/minecraft/util/RandomSource;ZILnet/minecraft/client/resources/sounds/SoundInstance$Attenuation;DDD)V # SimpleSoundInstance
public net.minecraft.server.level.ChunkMap m_140416_()Ljava/lang/Iterable; # getChunks
public-f net.minecraft.world.entity.LivingEntity f_20943_ # attributes
public net.minecraft.client.renderer.block.model.ItemOverrides$BakedOverride <init>([Lnet/minecraft/client/renderer/block/model/ItemOverrides$PropertyMatcher;Lnet/minecraft/client/resources/model/BakedModel;)V # BakedOverride
public net.minecraft.client.renderer.block.model.ItemOverrides$PropertyMatcher
public net.minecraft.client.renderer.block.model.ItemOverrides$PropertyMatcher <init>(IF)V # PropertyMatcher
public-f net.minecraft.client.renderer.block.model.ItemOverrides.BakedOverride.matchers
public net.minecraft.world.level.levelgen.NoiseRouterData m_255262_(Lnet/minecraft/core/HolderGetter;Lnet/minecraft/core/HolderGetter;ZZ)Lnet/minecraft/world/level/levelgen/NoiseRouter; # overworld

# Explosion中的变量
public net.minecraft.world.level.Explosion f_46008_ # EXPLOSION_DAMAGE_CALCULATOR
public net.minecraft.world.level.Explosion f_151469_ # MAX_DROPS_PER_COMBINED_STACK
public net.minecraft.world.level.Explosion f_46009_ # fire
public net.minecraft.world.level.Explosion f_46010_ # blockInteraction
public net.minecraft.world.level.Explosion f_46011_ # random
public net.minecraft.world.level.Explosion f_46012_ # level
public net.minecraft.world.level.Explosion f_46013_ # x
public net.minecraft.world.level.Explosion f_46014_ # y
public net.minecraft.world.level.Explosion f_46015_ # z
public net.minecraft.world.level.Explosion f_46016_ # source
public net.minecraft.world.level.Explosion f_46017_ # radius
public net.minecraft.world.level.Explosion f_46018_ # damageSource
public net.minecraft.world.level.Explosion f_46019_ # damageCalculator
public net.minecraft.world.level.Explosion f_46020_ # toBlow
public net.minecraft.world.level.Explosion f_46021_ # hitPlayers
